<!DOCTYPE html>
<html>
<head>
    <title>My Reviews</title>
</head>
<body>
    <h1>My Reviews</h1>
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Semester</th>
                <th>Year</th>
                <th>Professor</th>
                <th>Review</th>
            </tr>
        </thead>
        <tbody>
            {{#each userReviews}}
            <tr>
                <td>{{courseNumber}}</td>
                <td>{{courseName}}</td>
                <td>{{semester}}</td>
                <td>{{year}}</td>
                <td>{{professor}}</td>
                <td>{{review}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>
